@import "tailwindcss";

@theme {
  --color-600: #db0000;
  --color-900: #0d21a1;
}

.hero-bg {
    background: linear-gradient(rgba(13, 33, 161, 0.85), rgba(13, 33, 161, 0.85)), url('/images/hockey-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #db0000;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.active-nav::after {
    width: 100%;
}
